@import "colours.css"; /* Loads the colour file (colours.css). It must be symlinked into the same directory as Waybar (Usually ~/.config/waybar). More instructions in the install page*/

//Global settings
* {
    font-size: 14px;
    border-radius: 5px;
}
window#waybar {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: SF Pro;
    background-color: alpha(@background1,0.7);
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
    padding: 5px;
    border-radius:10px;
    border: 3px solid @red;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty #window {
    background-color: transparent;
}

/*
......#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

.modules-right {
    margin: 5px 10px 5px 0;
}
.modules-center {
    margin: 5px 0 5 0;
}
.modules-left {
    margin: 5px 0 0 10px;
}

/*Workspace numbers*/
#workspaces {
}

#workspaces button {
    padding: 0 5 4px;
    background-color: transparent;
    color: @text;
    border-radius: 0;
}

#workspaces button:first-child {
    border-radius: 5px 0 0 5px;
}

#workspaces button:last-child {
    border-radius: 0 5px 5px 0;
}

#workspaces button:hover {
    color: @red;
}

#workspaces button.active {
    color: @yellow;
}

#workspaces button.urgent {
    color: @mauve;
}

/*Current window title*/
#window {
    font-weight: bold;
}

#clock,
#battery,
#backlight,
#wireplumber,
#mpris
#load {
    padding: 0 10px;
    background-color: @background2;
    color: @text;
}

/* Omits margins for leftmost and rightmost workspaces */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#battery.charging, #battery.plugged {
    background-color: @green;
    color: @background1;
}

@keyframes blink {
    to {
        background-color: #282828;
        color: #ebdbb2;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #cc241d;
    color: #ebdbb2;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#wireplumber.muted {
    background-color: @blue;
}
#mpris.playing {
    color: @text;
}
