@import "colours.css";


/*Global Settings*/
* {
    font-size: 14px;
    border-radius: 5px;
}
window#waybar {
    font-family: SF Pro;
    background-color: alpha(@bg1,0.7);
    color: @txt;
    transition-property: background-color;
    transition-duration: .5s;
    padding: 5px;
    border-radius:10px;
    border: 3px solid @red;
}

/*Module Settings*/
.modules-right {
    margin: 5px 4px 5px 0;
    padding: 0px 4px 0px 0px;
    background-color: @bg1;
}
.modules-center {
    margin: 5px 0 5 0;
    font-weight: bold;
}
.modules-left {
    margin: 5px 0 0 10px;
}

/*Workspaces*/
#workspaces button {
    padding: 0 5 4px;
    background-color: transparent;
    color: @txt;
    border-radius: 0;
}

#workspaces button:first-child {
    border-radius: 5px 0 0 5px;
}

#workspaces button:last-child {
    border-radius: 0 5px 5px 0;
}

#workspaces button:hover {
    color: @red;
}

#workspaces button.active {
    color: @yellow;
    /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.urgent {
    color: @mauve;
}


/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


/*Individual modules*/
#battery.charging, #battery.plugged {
    background-color: @green;
    color: @bg1;
}

#wireplumber.muted {
    background-color: @blue;
}

#clock,
#bluetooth,
#network,
#battery,
#backlight,
#wireplumber{
    padding: 0 5px 0px 5px;
    color: @txt;
}
#mpris.playing{
padding-bottom: 4px
}
